<!--INICIO DO CONTEUDO-->
<section class="content-header">
</section>

<section class="content">
    <section class="invoice">
        <form [formGroup]="formGroup" novalidate>
            <div class="row">
                <div class="col-xs-12">
                    <h2 class="page-header">
                        <i class="fa fa-shopping-cart"></i> Finalize o seu pedido
                    </h2>
                </div>
            </div>


            <div class="row invoice-info">
              <div class="col-xs-12">
                <p class="lead">Seus Dados</p>
              </div>
              <div class="col-sm-6 col-xs-12">
                <mt-input-container errorMessage="Campo obrigatório e com 5 caracteres" label="Nome">
                  <input type="text" class="form-control" id="inputSuccess" placeholder="Nome"
                    formControlName="name" autocomplete="off">
                </mt-input-container>
              </div>
              <div class="col-sm-2 col-xs-6">
                <mt-input-container errorMessage="E-mail Inválido" label="Email">
                  <input type="text" class="form-control" id="inputSuccess" placeholder="E-mail" formControlName="email">
                </mt-input-container>
              </div>
              <div class="col-sm-4 col-xs-6">
                <mt-input-container label="ConfirmacaoEmail">
                  <input type="text" class="form-control" id="inputSuccess" placeholder="Confirmação de e-mail"
                    formControlName="emailConfirmation">
                </mt-input-container>
              </div>
            </div>

            <div class="row invoice-info">
                <div class="col-xs-12">
                    <p class="lead">Endereço de Entrega:</p>
                </div>
                <div class="col-sm-6 col-xs-12">
                    <mt-input-container errorMessage="Campo obrigatório e com 5 caracteres" label="Endereço">
                        <input type="text" class="form-control" id="inputSuccess" placeholder="Endereço"
                         formControlName="address" autocomplete="off">
                    </mt-input-container>
                </div>
                <div class="col-sm-2 col-xs-6">
                    <mt-input-container errorMessage="Obrigatório e somente números." label="Número">
                        <input type="text" class="form-control" id="inputSuccess" placeholder="Número" formControlName="number">
                    </mt-input-container>
                </div>
                <div class="col-sm-4 col-xs-6">
                    <mt-input-container label="Optional">
                        <input type="text" class="form-control" id="inputSuccess" placeholder="Complemento" formControlName="optionalAddress">
                    </mt-input-container>
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->

            <!-- Table row -->
            <div class="row">
                <div class="col-xs-12">
                    <p class="lead">Itens do Pedido:</p>
                </div>
                <mt-items-pedido
                [itens]="cartItems()"
                (decreaseQty)="decreaseQty($event)"
                (increaseQty)="increaseQty($event)"
                (remove)="remove($event)"></mt-items-pedido>
                <!-- /.col -->
            </div>
            <!-- /.row -->

            <div class="row">
                <!-- accepted payments column -->
                <div class="col-sm-6 col-xs-12">
                    <p class="lead">Formas de Pagamento:</p>

                    <div class="form-group">
                        <div>
                            <label>
                                <mt-radio [options]="paymentOptions" formControlName="paymentOption"></mt-radio>
                            </label>
                        </div>

                    </div>

                </div>
                <!-- /.col -->
                <div class="col-sm-6 col-xs-12">
                    <p class="lead">Frete e Total:</p>
                    <mt-delivery [delivery]="delivery()"
                                 [itemsValue]="itemsValue()">
                    </mt-delivery>
                </div>
                <!-- /.col -->
            </div>

        </form>

        <div class="row">
            <div class="col-xs-12">
                <button (click)="checkOrder(formGroup.value)" class="btn btn-success pull-right" [disabled]="formGroup.invalid || !cartItems().length"><i class="fa fa-credit-card"></i> Concluir
           Pedido
         </button>
            </div>
        </div>

    </section>
</section>
<!-- FIM DO CONTEUDO-->